/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px !important;
    }
}
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px!important;
    }
}
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px !important;
    }
}
.container {
    transition: all 0.3s 0.2s;
    margin: auto;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    transition: all 0.5s;
    animation: opcaity 10s 0s ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #F3F3F3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 83px;
}

ul li {
    padding: 0PX;
    border-radius: 15px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc( 100% / 3);
    margin-bottom:15px ;
}
li:nth-child(1) a{
    background-color: rgb(24 119 242 );
    width: 50px;

}
li:nth-child(2) a{
    background-color: rgb(131 58 180 );
}
li:nth-child(3) a{
    background-color: rgb(0 119 181 );
}
li:nth-child(4) a{
    background-color: black;
}
li:nth-child(5) a
{
    background-color: #c3c00c;
}
li:nth-child(6) a
{
    background-color: #000000;
}

li:nth-child(7){
    background-color: rgb(40, 209, 70);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    width: 100% !important;
    margin-bottom:0px !important;
}
a  {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: fit-content;
    border-radius:15px;
}
span {
    display: block;
    margin-top:5px ;
    font-weight: 500;
    text-transform: capitalize;
    font-family: sans-serif;
    color: black;
}
form {
    max-width:100px ;
}
label {
    font-size: 16px;
    font-family: sans-serif;
}
input {
    border: none;
    background-color: rgb(40 209 70 / 10%) ;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    width: 150px;
}
i {
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    
}
input:focus{
    outline: none;
}
li:nth-last-child(1) i{
    margin-left:20px ;
}
html {
  /*  background-image: url("٢٠٢٣١١٢٨_٢٢٠٦٣٠.jpg");*/
  background-color: #fff;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    font-family: sans-serif;
}
.imge {
    width: 100%;
    position: relative;
    margin-top: -40px;
    overflow: hidden;
}
.imge :nth-child(1){
    width: 100%;
    height:40%;
    border-radius:30px ;
    transition: all 0.8s 0.3s ;
}
.imge div {
    width: 100%;
    height: 40%;
    background-color: white;
    position:absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*
.imge img:hover + div {
    display: none;
}
*//*
.imge div .s {
    width: 100px;
    height:100px;
    border-radius: 50% ;
    position:absolute;
    left: 79%;
    top: -5%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    background-color: white;
    transition: all 0.4s 0.3s ;
    order: 2;
}
/*
.imge div .s:hover {
    width: 400px;
    height: 400px;
    transform: translate3d(-50%,-50%,40px);
    top: -45%;
    left: 50%;
    border-radius: 10px ;
}
@media (min-width: 760px) {
    .imge div .s:hover {
        width: 600px;
        height: 600px;
    }
}*/
.imge div span {
    display:block;
    color: #4f4747;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 900;
    width: fit-content !important;
    height: fit-content !important;
    
}
#copyButton {
    /*
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% ,-50%);
    */
    display: block;
    font-size: 15px;
    font-weight: 900;
    background-color: #F3F3F3;
    border-color:#4f4747;
    color: rgb(43, 2, 2);
    margin: 0px;
    margin-top: 10px;
    padding:4px;
    /*
    position: absolute;
    top:30%;
    left:50%;
    order: 1;
    transform: translate(-50% ,-50%);
    */
}
@media (min-width: 700px) {
    .imge div span {
        font-size: 30px;
    }
    #copyButton {
        font-size: 30PX;
    }
    #copyButton i{
        font-size: 30px !important;
    }
}
#copyButton i{
    font-weight: bold;
    font-size: 20px;
    display: inline;
    padding: 0px;
}
/*
@media (min-width: 350px) {
    .imge div .s {
        width: 130px;
        height:130px;
    }
}
@media (min-width: 420px) {
    .imge div .s {
        width: 160px;
        height:160px;
    }
    .imge div span {
        font-size: 20px;
    }
}
@media (min-width: 480px) {
    .imge div .s {
        width: 200px;
        height:200px;
    }
    .imge div span {
        font-size: 28px;
    }
}*/
button:nth-last-of-type(1) {
    background-color: white;
    border-color: green;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}
.foot {
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color:#F3F3F3;
 width: 100%;
 font-size: 14px ;
}
.foot span {
    margin: 0px 2px;
    color:#19c8fa;
}
/*
.container ul li >div {
    color: white;
    font-size: 9px;
    width: fit-content ;
    white-space: nowrap;
    transition: all 0.3s;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 800;
    margin: 0px auto;
    border-right: 1px solid white;
    animation: print  4s steps(41) 3s both,mos 0.80s infinite ;

}
@media (min-width:390px){
    .container ul li >div{
        font-size: 14px !important;
    }
}
@media (min-width:500px){
    .container ul li >div{
        font-size: 20px !important;
    }
}
@keyframes print {
    from {
        width: 0;
    }
    to {
        width: 100% ;
    }
}
@keyframes mos {
    from {
        border-right-color: white;
    }
    to {
        border-right-color:transparent;
    }
}

@keyframes opcaity {
    from {
        opacity: 0;
        pointer-events:none;
    }
    to {
        opacity: 1;
    }   
}
*/